.main_container {
    padding: 20px;
    color: #fff;
}


.two_columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 70vh;
}

.two_columns div {
    width: 56%;
}

.main_title h1 {
    font-size: 90px;
    margin-bottom: 20px;
}

.section {
    margin-top: 100px;
    padding: 20px;
    color: #fff;
}

.skill_block {
    width: 290px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px 10px 10px 0;
    border-radius: 5px;
}

.skill_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
}